@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* html,body {

} */
.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.mole {
  background-image: url(mole.jpg);
  background-size: 200px;
}
